/PartnerWizardWebApp/target/
/archetype-partner-recommender/target/
/PartnerWizardWebApp/nb-configuration.xml
/PartnerRecommender/nbactions.xml
/PartnerRecommender/nb-configuration.xml
/PartnerWizardWebApp/nbproject/